[submodule "frameworks/Jupyter"]
	path = frameworks/Jupyter
	url = https://github.com/KentVejrupMadsen/codespace.jupyter.git
[submodule "templates/library"]
	path = templates/library
	url = https://github.com/KentVejrupMadsen/Template.Python.Library.git
[submodule "templates/application"]
	path = templates/application
	url = https://github.com/KentVejrupMadsen/Template.Python.Application.git
[submodule "projects/LinearEquations"]
	path = projects/LinearEquations
	url = https://github.com/KentVejrupMadsen/LinearEquations.git
