# Default for all
* text=auto eol=crlf

# Git attributes
*.sh text diff=sh eol=lf
*.py text diff=python eol=lf

.gitignore text eol=lf
.gitattributes text eol=lf

    # Removal from publishing
/.github export-ignore
/.archive export-ignore

*.md text diff=markdown export-ignore
